<server description="liberty-maven-bluemix-sample-server">  
  <featureManager>
    <feature>jaxrs-1.1</feature>
    <feature>ejbLite-3.1</feature>
    <feature>jaxws-2.2</feature>
    <feature>jpa-2.0</feature>
  </featureManager>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="${Port}" host="*" />
  
  <application id="liberty-maven-bluemix-sample" location="liberty-maven-bluemix-sample.war" name="liberty-maven-bluemix-sample" type="war" context-root="/" />
</server>