<server description="liberty-helloworld-server">  
  <featureManager>
    <feature>jaxrs-1.1</feature>
    <feature>ejbLite-3.1</feature>
    <feature>jaxws-2.2</feature>
    <feature>jpa-2.0</feature>
  </featureManager>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="${Port}" host="*" />
  
  <application id="liberty-helloworld" location="liberty-helloworld.war" name="liberty-helloworld" type="war" context-root="/" />
</server>